<!doctype html>
<html>
<head>
    <title>Blogger</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-user"></span>Blog Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
<!--        <a href="/post" class="btn btn-default btn-sm">Create New Post</a> -->
        <a href="/profile" class="btn btn-default btn-sm">View Profile</a>
    </div>
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span><%= blogTitle %> </h1>
    <ul>
        <% for(var i=0; i<posts.length; i++) {%>
            <p>
                Post <%= i %> with <strong>id</strong>: <%= posts[i].id %><br>
                <strong>Title</strong>: <%= posts[i].title %><br>
                <strong>Content</strong>: <%= posts[i].content %><br>
             <a href="/post/<%= posts[i].id %>" class="btn btn-default btn-sm">Edit Post</a>
            </p>
            <hr>
        <% } %>
    </ul>
</div>
</div>
</body>
</html>
